<a href="https://colab.research.google.com/github/KARENCMP82/Python/blob/main/Clase_4_Ejercicios_Pandas_DataFrames_EJERCICIO_TITANIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

#Ejercicios Pandas **Dataframes**

## Tabla de datos Titanic

El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

0. Generar un DataFrame con los datos del fichero. Para importar usaremos Pandas.
1. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
2. Identifique qué columnas tienen valores nulos
3. Sustituya los valores nulos en la columna "Cabin" por el valor más frecuente (moda)
4. Elimine las filas donde la columna 'Embarked' está nula.
5. Verifique si hay filas duplicadas en el conjunto de datos.Elimine, si los hay
6. Mostrar por pantalla los datos del pasajero con identificador 148.
7. Mostrar por pantalla las filas pares del DataFrame.
8. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
9. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
10. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
11. Eliminar del DataFrame los pasajeros con edad desconocida.
12. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
13. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
14.Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

BONUS

- Calcule y visualice la proporción de supervivientes por género.
- Calcule y visualice la proporción de supervivientes por clase de pasajero.
- Calcule y visualice la tasa de supervivencia para cada lugar de embarque.

## Resolución

0. Generar un DataFrame con los datos del fichero. Para importar usaremos Pandas.

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
#leemos el fichero IMDB
titanic=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Ejercicios/titanic.csv")
# Cargar archivo CSV como DataFrame ver los 5 primero registros
titanic.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

1. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas

In [4]:
#Dimensiones Filas Columnas
titanic.shape

(891, 12)

In [5]:
#Nº datos
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [6]:
#Nombres colum
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
#Tipos datos colum
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
#Nombres de las filas (índices): Mostrar los índices del DataFrame
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [9]:
#Mostrar las 10 últimas filas: Usar el método correspondiente
titanic.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Identifique qué columnas tienen valores nulos

In [10]:
#Validación de valores nulos
# Filtrar columnas con valores nulos
columnas_con_nulos = titanic.isnull().sum()[titanic.isnull().sum() > 0]
# etiqueta               buscar nulos/ sum   Esto seleciona solo  las filas de nulos
print(columnas_con_nulos) #muestra por pantalla

Age         177
Cabin       687
Embarked      2
dtype: int64

**Voy hacer una copia para trabajar sobre otro DataFarme**

In [11]:
titaCopi = titanic.copy()

In [12]:
titaCopi.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

3. Sustituya los valores nulos en la columna "Cabin" por el valor más frecuente (moda)

In [13]:
#Imputar valores nulos: #Cabin: por valores mas frecuentes, son ..B96 B98
titaCopi['Cabin'] = titanic['Cabin'].fillna(titanic['Cabin'].mode()[0])
#     obtiene valores frecuentes  /  rellena valores null de la columna

In [14]:
titaCopi.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

4. Elimine las filas donde la columna 'Embarked' está nula.

In [15]:
titaCopi = titaCopi.dropna(subset=['Embarked'])
#dropna  eliminar las filas con valores faltantes. subset dice q columna

In [16]:
columnas_con_nulos = titaCopi.isnull().sum()[titaCopi.isnull().sum() > 0]
print(columnas_con_nulos)

Age    177
dtype: int64

5. Verifique si hay filas duplicadas en el conjunto de datos.Elimine, si los hay

In [17]:
duplicados = titaCopi.duplicated().sum()
#variable    csv       busca duplicado   lo suma
print(f"Número de filas duplicadas: {duplicados}")

Número de filas duplicadas: 0

6. Mostrar por pantalla los datos del pasajero con identificador 148.

In [18]:
titaCopi[titaCopi.index==148]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0,F2,S

In [19]:
# Mostrar los datos del pasajero con identificador 148
pasajero_148 = titaCopi.loc[148]
print(pasajero_148)

PassengerId                                         149
Survived                                              0
Pclass                                                2
Name           Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                                male
Age                                                36.5
SibSp                                                 0
Parch                                                 2
Ticket                                           230080
Fare                                               26.0
Cabin                                                F2
Embarked                                              S
Name: 148, dtype: object

7. Mostrar por pantalla las filas pares del DataFrame.

In [20]:
filas_pares = titaCopi.iloc[::2]
print(filas_pares)

     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare    Cabin Embarked
0        0         A/5 21171   7.2500  B96 B98        S
2        0  STON/O2. 3101282   7.9250  B96 B98        S
4        0            373450   8.0500  B96 B98        S
6        0             17463  51.8625      E46        S
8        2            347742  11.1333  B96 B98        S
..     ...               ...      ...      ...      ...
882      0              7552  10.5167  B96 B98        S
884      0   SOTON/OQ 392076   7.0500  B96 B98        S
886      0            211536  13.0000  B96 B98        S
888      2        W./C. 6607  23.4500  B96 B98        S
890      0            370376   7.7500  B96 B98        Q

[445 rows x 12 columns]

[::2]: Este es un operador de rebanado que selecciona elementos de una secuencia (en este caso, las filas del DataFrame).

El primer : indica que se seleccionarán todas las filas.

El segundo : indica que se seleccionarán todas las columnas.

El 2 indica que se tomará cada segunda fila, comenzando desde la primera (índice 0), lo cual resulta en las filas pares.

8. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

In [21]:
# Filtrar los pasajeros de primera clase y ordenar por nombre
nombres_primera_clase = titaCopi[titaCopi.Pclass == 1]['Name'].sort_values()

# Mostrar los nombres
print(nombres_primera_clase)

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 214, dtype: object

In [22]:
titaCopi2 = titaCopi.copy()

**Cambiar nombre de columnas**

In [23]:
titaCopi2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [24]:
#Cambiar nombre de columnas
titaCopi2.rename(columns={
    "PassengerId": "Id_pasaj",
    "Survived": "Sobrevivi",
    "Pclass": "Clase",
    "Name": "Nombre",
    "Sex": "Sexo",
    "Age": "Edad",
    "SibSp": "Hermanos/esposos_a_bordo",
    "Parch": "Padres/hijos_a_bordo",
    "Ticket": "Billete",
    "Fare": "Tarifa",
    "Cabin": "Cabina",
    "Embarked": "Embarcado"
}, inplace=True)

9. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.

In [25]:
# Calcular el número de personas que sobrevivieron y murieron
conteo_sobrevivientes = titaCopi2["Sobrevivi"].value_counts()

# Calcular el porcentaje / nº total de filas len(titaCopi2)
porcentaje_sobrevivientes = conteo_sobrevivientes / len(titaCopi2) * 100

# Mostrar los porcentajes
print(porcentaje_sobrevivientes)

Sobrevivi
0    61.754781
1    38.245219
Name: count, dtype: float64

10. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.

In [26]:
# Filtrar los pasajeros por clase
primera_clase = titaCopi2[titaCopi2.Clase == 1]
segunda_clase = titaCopi2[titaCopi2.Clase == 2]
tercera_clase = titaCopi2[titaCopi2.Clase == 3]

In [27]:
# Calcular el porcentaje de sobrevivientes por clase
porcSupPrimer = primera_clase["Sobrevivi"].mean() * 100
porcSupSegunda = segunda_clase["Sobrevivi"].mean() * 100
porcSupTercera = tercera_clase["Sobrevivi"].mean() * 100

In [28]:
# Mostrar los porcentajes
print(f"Porcentaje de sobrevivientes en primera clase: {porcSupPrimer:.2f}%")
print(f"Porcentaje de sobrevivientes en segunda clase: {porcSupSegunda:.2f}%")
print(f"Porcentaje de sobrevivientes en tercera clase: {porcSupTercera:.2f}%")

Porcentaje de sobrevivientes en primera clase: 62.62%
Porcentaje de sobrevivientes en segunda clase: 47.28%
Porcentaje de sobrevivientes en tercera clase: 24.24%

11. Eliminar del DataFrame los pasajeros con edad desconocida.

In [30]:
titaCopi3 = titaCopi2.copy()

In [28]:
# Eliminar nulos dropna, subset especifica la columna
titaCopi3 = titaCopi3.dropna(subset=['Edad'])

12. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

In [36]:
titaCopi3.head()

,Id_pasaj,Sobrevivi,Clase,Nombre,Sexo,Edad,Hermanos/esposos_a_bordo,Padres/hijos_a_bordo,Billete,Tarifa,Cabina,Embarcado
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [38]:

# Filtrar las filas donde el sexo es femenino y luego calcular la media de la columna 'Edad'
media = titaCopi3[titaCopi3['Sexo'] == 'female']['Edad'].mean()
print(media)

27.745173745173744

13. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

In [39]:
titaCopi3['MayorDeEdad'] = titaCopi3['Edad'] > 18

In [40]:
titaCopi3.head()

,Id_pasaj,Sobrevivi,Clase,Nombre,Sexo,Edad,Hermanos/esposos_a_bordo,Padres/hijos_a_bordo,Billete,Tarifa,Cabina,Embarcado,MayorDeEdad
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S,True

14.Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [43]:
# Separar los mayores de edad y los menores de edad
PorcentMayor = titaCopi3[titaCopi3['MayorDeEdad'] == True]
PorcentMenor = titaCopi3[titaCopi3['MayorDeEdad'] == False]

# Calcular y mostrar el porcentaje de sobrevivientes para mayores y menores en cada clase
for clase in [1, 2, 3]:
    # Filtrar por clase
    mayores_clase = PorcentMayor[PorcentMayor['Clase'] == clase]
    menores_clase = PorcentMenor[PorcentMenor['Clase'] == clase]

    # Calcular los porcentajes
    ResutMayo = mayores_clase['Sobrevivi'].mean() * 100 if not mayores_clase.empty else 0
    ResutMenor = menores_clase['Sobrevivi'].mean() * 100 if not menores_clase.empty else 0

    # Mostrar resultados
    print(f"Clase {clase}:")
    print(f"  Porcentaje de mayores que sobrevivieron: {ResutMayo:.2f}%")
    print(f"  Porcentaje de menores que sobrevivieron: {ResutMenor:.2f}%")

Clase 1:
  Porcentaje de mayores que sobrevivieron: 63.10%
  Porcentaje de menores que sobrevivieron: 60.87%
Clase 2:
  Porcentaje de mayores que sobrevivieron: 41.67%
  Porcentaje de menores que sobrevivieron: 67.50%
Clase 3:
  Porcentaje de mayores que sobrevivieron: 19.92%
  Porcentaje de menores que sobrevivieron: 29.13%

BONUS

Calcule y visualice la proporción de supervivientes por género.

Calcule y visualice la proporción de supervivientes por clase de pasajero.

Calcule y visualice la tasa de supervivencia para cada lugar de embarque.